.ticketGenerator {
    height: 20%;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticketInput {
    display: flex;
    justify-content: space-between;
    
}

.playerName {
    width: 100%;
    border-radius: 10px;
    margin-right: 2em;
}

.btnText {
    padding: 1em;
}