.appBody {
    background: var(--bg-primary);
    width: 99%;
    margin: 0.5em auto;
    border: 1px solid var(--accent-1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    min-height:90vh;
    box-shadow:  0 0 8px 0px var(--accent-1);
}

.appLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.appRight {
    width: 60%;
}

.appRightUpper {
    display: flex;
    justify-content: space-evenly;
    height: 60%;
}

.appRightUpper-left {
    width: 45%;
    display: flex;
}
.appRightUpper-right {
    width: 55%;
}
.appRightLower {
    height: 40%;
    
}


/* Mobile Responsive */
@media screen and (max-width: 1024px) {
    .appBody {
        flex-direction: column;
        min-height: auto;
    }

    .appLeft,
    .appRight {
        width: 100%;
        min-height: 50vh;
    }

    .appLeft {
        border-bottom: none;
    }
}